<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div class="container">
    <ul class="nav nav-pills">
      <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="/login">Login</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
    <!--<p>Id: <span>{{greeting.id}}</span></p>-->
    <!--<p>Message: <span>{{greeting.content}}</span></p>-->

  <!--</div>-->
</div>


