<h1>Greetings</h1>
<div [hidden]="!authenticated()" >
  <p>The ID is {{greetings.id}}}</p>
  <p>The content is {{greetings.content}}}</p>
</div>
<div [hidden]="authenticated()" ]>
  <p>Login to see your greeting</p>
</div>

