<div class = "alert alert-dnager" [hidden]="!error">
  strange problem occured, please try login again.
</div>
<form role="form" (submit)="login()">
  <div class="form-group">
    <label for="username">Username:</label> <input type="text"
      class="form-controll" id="username" name="username" [(ngModel)]="credentials.username"/>
  </div>
  <div class="form-group">
    <label for="password">Password:</label> <input type="text"
      class="form-control" id="password" name="password" [(ngModel)]="credentials.password"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
